[Unit]
Description=Dhruv's Room
After=network.target

[Service]
WorkingDirectory=/home/siren/relay-switch/
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python /home/siren/relay-switch/server.py &
Restart=always

[Install]
WantedBy=multi-user.target
